{% extends 'base.html' %}

{% block body %}

  
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Home</a><span>Agents</span>
              </div>
              <h1>Agents</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(static/img/slider_1.jpg);"></li>
      <li style="background-image: url(static/img/slider_4.jpg);"></li>
      <li style="background-image: url(static/img/slider_2.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->
  
  <section class="probootstrap-section probootstrap-section-lighter">
    <div class="container">
      <div class="row heading">
        <h2 class="mt0 mb50 text-center">Our Agents</h2>
      </div>
      <div class="row">

        {% for agent in agents_list %}
          
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-card probootstrap-person text-left">
              <div class="probootstrap-card-media">
                <img src="{{agent.image.url}}" class="img-responsive" alt="Image Not Found">
              </div>
              <div class="probootstrap-card-text">
                <h2 class="probootstrap-card-heading mb0">{{agent.name}}</h2>
                <p><small>{{agent.title}}</small></p>
              </div>
            </div>
          </div>

        {% endfor %}

      </div>
    </div>
  </section>


  
  {% endblock body %}