<head>
    <title>Callback</title>
</head>
<body>
    <p>Please use <b>ctrl+p</b> command to print this reciept</p>

    <h2>Callback Messsage: </h2>                    <br>
    <h3> Checksum Verification: {{ received_data }} </h3> <br>
    
<table>
<td><a href="{% url 'home:home' %}">Home</a></td>
</table>
</body>
</html>