{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% get_media_prefix %}
{% block body %}
<style>
body {
    margin-top: 10%;
}
</style>

<h1>Log in</h1>
<form class="site-form" action="{% url 'accounts:login_view' %}" method="post" >
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if request.GET.next %}
    <input type="hidden" name="next" value= "{{ request.GET.next }}"/>
    {% endif %}
    <input type="submit" value="Login" />
</form>
<p>Not got an account? <a href="{% url 'accounts:signup_view' %}">Sign Up</a></p>
{% endblock %}