
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% get_media_prefix %}
{% block body %}
<style>
    body {
        margin-top: 10%;
    }
    </style>
    <h1>Signup</h1>
    <form class="site-form" action="{% url 'accounts:signup_view' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Signup">
    </form>
{% endblock %}