<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Internal Server Error</h1>
        <p class="lead">Error message: Internal Server Error</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url 'home:home' %}" role="button">Home</a>
        </p>
      </div>
</body>
</html>



