{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% get_media_prefix %}
{% block scripts %}
<script type="text/javascript">
  function ShowMessage(){
  alert("Are you want reserve this property");
}
</script>
{% endblock %}
{% block body %}
  

  
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

              <div class="page-title probootstrap-animate">
                  <div class="probootstrap-breadcrumbs">
                    <a href="#">Home</a><span><a href="{% url 'property:property_list' %}"> Properties </a></span>{{property_detail}}
                  </div>
                  <h1>{{property_detail}}</h1>
                </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(img/slider_1.jpg);"></li>
      <li style="background-image: url(img/slider_4.jpg);"></li>
      <li style="background-image: url(img/slider_2.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><img src="{{property_detail.image.url}}" class="img-responsive" alt="Image not found"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Details</h2>
          {% if property.average_rating != 0.0 %}
          Rating: {{ property.average_rating }}
          {% else %}
          Rating: NA
          {% endif %}          
          <p>Type : {{property_detail.property_type}}</p>
          <p>Area of each room : {{room_detail.area_per_m2 }} m2</p>
          <p>Beds : {{room_detail.beds_number}}</p>
          <p>Price of Each Room: Rs.{{ room_detail.price_per_night }}/Night</p>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <form action="" method="POST">
                {% csrf_token %}
                {% if reserve_form %}
                <h2>Reserve This Property</h2>
                  {% bootstrap_form reserve_form %}
                  {% buttons %}
                      <button type="submit" class="btn btn-primary" onclick="ShowMessage()">Reserve & Pay now</button>
                  {% endbuttons %}
                  {% endif %}

              </form>
          </div>
        </div>
      </div>
    </section>
  {% endblock body %}
