{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
    <link href="{% static "css/pdf.css" %}" rel="stylesheet">
    <title>Booking Confirmation</title>

</head>
  <body>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 ">

        <div class="container">
          <center>
            <!-- Displays the Hotel Details -->
            <div class="panel panel-default">
              <div class="panel-heading"><h1 class="big">Reservation</h1></div>

                <div class="panel-body">
                  <h1><b>{{ booking.prop.property_name }}  </b></h1>
                  <p>Location: {{ booking.prop.location }}</p>
                </div>
            </div>
              <!-- Displays the Booking Details such as Room name etc.. -->
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Booking Details</h3></div>
                <div class="panel-body">

                   <p><b>Reference Number: </b>{{booking.id}}</p>
                    <p><b>Guest Name:</b>{{booking.guestFirstName}} {{booking.guestLastName}}</p>
                    <p><b>Check In Date:  </b>{{booking.CheckIn}}  / <b>Check Out Date:  </b>  {{booking.CheckOut}}</p>
                    <p><b>Total Price:  Rs.</b>{{booking.totalPrice}} </p>
                </div>
            </div>
              <!-- Uses the City that the hotel is located in to pull a map from Google-->
            </center>
      </div>
    </div>
    </div>
  </body>
  </html>
