
{% extends 'base.html' %}
{% block body %}
<style>
  body{
    margin-top: 10%;
  }
</style>

     <center><h4>My Bookings:</h4></center>
<hr>
<a class="payment-link" href="http://13.232.52.101/pay_link/?service_name={{payment_link.service_name}}&service_owner={{payment_link.prop.user.username}}&service_price={{payment_link.service_price}}&payment_type={{payment_link.payment_type}}&ref_id={{payment_link.id}}">click here to pay</a>
<hr>
{% endblock %}
