{% extends 'base.html' %}
{% load static %}
{% get_media_prefix %}
{% block body %}

  <!-- END: header -->
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Home</a><span>Properties</span>
              </div>
              <h1>Properties</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section probootstrap-section-lighter">
    <div class="container">
      <div class="row">
        {% if property_list %}
          
          {% for property in property_list %}
            <div class="col-md-4 col-sm-6">
              <div class="probootstrap-card probootstrap-listing">
                <div class="probootstrap-card-media">
                  <img src="{{property.image.url}}" class="img-responsive" alt="No Image">
                </div>
                <div class="probootstrap-card-text">
                {% if property_list %}<a href="{% url 'property:property_detail' property.id  %}"> {{ property.property_name }}</a></li>{% endif %}
                  <div class="probootstrap-listing-location">
                    <i class="icon-location2"></i> <span>{{ property.location }}</span>
                  </div>
                  <div class="probootstrap-listing">
                    {% if property.average_rating != 0.0 %}
                    <i class="average_rating"></i> <span>Rating: {{ property.average_rating }}</span>
                    {% else %}
                    <i class="average_rating"></i> <span>Rating: NA</span>
                    {% endif %}
                  </div>
                  <div class="probootstrap-listing-category for-sale"><span>{{property.property_type}}</span></div>
                  <h6>Room detail</h6>
                  {% for room in room_list %}
                  {% if property.id == room.prop.id %}
                  <div class="probootstrap-listing-price">{{ room.price_per_night }}/Night </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="probootstrap-card-extra">
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-10 col-sm-10">
            <h2>Sorry, Not available </h2>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endblock body %}
