{% extends 'base.html' %}
{% load static %}
{% get_media_prefix %}
{% block scripts %}
<script type="text/javascript">
  function showCancelMessage(){
    alert("Are you want to cancel booking make sure it is non-refundable");
  }
</script>

{% endblock %}

{% block body %}
<style>
  body{
    margin-top: 10%;
  }
</style>

     <center><h4>My Bookings:</h4></center>

      <br />
<!-- Loads all of the Current users reservations in a list and displays all  the details -->


{%for booking in bookings%}
        {{date}}
        {% if date < booking.CheckIn %}
          <a  class="btn btn-sm btn-danger pull-right" href="{% url 'property:cancelbooking' booking.id %}" onclick="showCancelMessage()">Cancel Booking</a>
        {% else %}
        <a  class="btn btn-sm btn-success pull-right" href="{% url 'property:add_rating' booking.prop.id %}">Add rating</a>
        {% endif %}
        <a  class="btn btn-sm btn-default pull-right "href="{% url 'property:gpdf' booking.id %}">Download PDF</a>
        <h5><u> {{booking.prop.property_name}}</u></h5>
        <p><mark>Guest Name :</mark>  {{booking.guestFirstName}} {{booking.guestLastName}}.  </p>
        <p><mark>Check-in Date :</mark> {{booking.CheckIn}}.  </p>
        <p><mark>Check-out Date:</mark> {{booking.CheckOut}}.  </p>
        <p><mark>Amount Paid :</mark> Rs.{{booking.totalPrice}}.  </p>
        <hr />
      {%endfor%}

{% endblock %}