{% extends 'base.html' %}
{% load static %}
{% get_media_prefix %}
{% block scripts %}
<script type="text/javascript">
  function showDeleteMessage(){
    alert("Are you want to delete property");
  }
</script>

{% endblock %}

{% block body %}
<style>
  body{
    margin-top: 10%;
  }
  </style>
     <center> <h4>My Properties:</h4></center>

      <br />
<!-- Loads all of the Current users reservations in a list and displays all  the details -->

    

{% for property in my_properties %}
        <a class="btn btn-sm btn-danger pull-right" href="{% url 'property:delete_property' property.id %}" onclick="showDeleteMessage()">Delete</a>
        <a class="btn btn-sm btn-sucess pull-right" href="{% url 'property:update_property' property.id %}">Update</a>
        <h5><u> {{property.property_name}}</u></h5>
        <p><img src="{{property.image.url}}" class="img-responsive" alt="Image not found"></p>
        <p><mark>Category :</mark>  {{property.category}}  </p>
        <p><mark>Property Type :</mark> {{property.property_type}}  </p>
        <p><mark>Image Path:</mark> {{property.image}}  </p>
        {%if property.parking_facility %}
        <p><mark>Parking Facility :</mark>Available </p>
        {% else %}
        <p><mark>Parking Facility :</mark> Not Available </p>
        {% endif %}
        <h6>Room Detail:</h6>
        {% for room in room_list %}
        {% if room.prop.id == property.id %}
        <p><mark>Total Rooms :</mark>{{room.total_rooms}}  </p>
        <p><mark>Area of room:</mark>{{room.area_per_m2}}  </p>
        <p><mark>Beds Number :</mark>{{room.beds_number}}  </p>
        <p><mark>Price :</mark> Rs.{{room.price_per_night}}  </p>
        {% endif %}
        {% endfor %}

        <hr />
      {% endfor %}

    </div>
  </div>
{% endblock %}