{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% get_media_prefix %}
{% block scripts %}
<script type="text/javascript">
  function showMessage(){
    alert("Are you want to add rating");
  }
  function showDeleteMessage(){
      alert("Are you want to delete your ratings..?")
  }
</script>
{% endblock %}

{% block body %}
<style>
    body{
      margin-top: 10%;
    }
  </style>
{% if count == 0 %}
<center><h2>Add rating</h2></center>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form add_rating_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" method="post" onClick='showMessage()'>Add rating</button>
        {% endbuttons %}
    </form>
{% else %}
<center><h2>You already added your rating </h2></center>

<a  class="btn btn-sm btn-success pull-right" href="{% url 'property:update_rating'  rating_user.id %}">Update</a><br>
<hr>
<a  class="btn btn-sm btn-danger pull-right" href="{% url 'property:delete_rating' rating_user.id %}" onclick="showDeleteMessage()">Delete</a>
<mark>User Name :</mark> {{ rating_user.user.username }}<br><br>
<mark>Your rating out of 5 is :</mark> {{ rating_user.rating_choice }}
{% endif %}
{% endblock body %}

