{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% get_media_prefix %}
{% block scripts %}
<script type="text/javascript">
  function showMessage(){
    alert("Do you want to update rating");
  }
</script>
{% endblock %}

{% block body %}
<style>
    body{
      margin-top: 10%;
    }
  </style>
<center><h2>Update rating</h2></center>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form add_rating_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" method="post" onClick='showMessage()'>Update rating</button>
        {% endbuttons %}
    </form>

{% endblock %}