{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block scripts %}
<script type="text/javascript">
  function showMessage(){
    alert("Are you want to update property");
  }
</script>
{% endblock %}
{% block body %}
<style>
    body{
      margin-top: 10%;
    }
  </style>

<center><h2>Update Property</h2></center>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form add_property_form %}
        {% bootstrap_form add_room_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" method="post" onclick="showMessage()" >Update Property with their rooms</button>
        {% endbuttons %}
    </form>
{% endblock body %}
