{% extends 'base.html' %}
{% block body %}

<style>
    body{
      margin-top: 10%;
    }
  </style>
<div class="container">
<center><b>Please make account on Merapay then comeback to add your property</b></center>
<br>
<center><a  class="btn btn-sm btn-success" href="http://13.232.52.101" >Make Account on merapay</a></center>
<center><p>(copy this and paste it into "End Point" field of the Merapay after making business account  <b>http://127.0.0.1:8000/property/callback/<b> )</p></center>
<br>
<center><b>If you already have a account on Merapay then feel free to add your property</b> </center>
<br>
<center><a  class="btn btn-sm btn-success" href="{% url 'property:add_property'%}" >Add Property</a></center>
</div>
<hr>

{% endblock %}


